# Data Science Tools and Ecosystem

Welcome to the digital realm where we dive into the exciting world of Data Science Tools and Ecosystem which summarized elegantly in this notebook.

Some of the popular languages that Data Scientists use are:

1. Python 
2. R 
3. SQL 
4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas 
2. NumPy 
3. Matplotlib
4. Scikit-Learn 
5. TensorFlow

| Data Science Tools   |
|----------------------|
| Jupyter Notebooks    |
| RStudio              |
| Apache Zeppelin      |

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [5]:
200 / 60

3.3333333333333335

**Objectives:**

- List popular languages for Data Science.
- Highlight commonly used Data Science libraries.
- Demonstrate basic arithmetic operations in Python.
- Show how to convert minutes to hours using Python.
- Present a table of essential Data Science tools.

## Author

Name: Lee Leong Shean